.content-pai{
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 
}

.content-filho{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;    
}

.content-filho >h1{
    font-size: 50px;
}

.content-filho >p{
    margin-top: -10px;
}
.pai-section{
    display: flex;
    justify-content: baseline;
    align-items: center;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
}

.filho-section{
    display: flex;
    flex-direction: column;
    align-items:center ;
}

.pai-section >p{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
}

.social-section{
    display: flex;
    gap: 14px;
}


.pai-main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.filho-button > button {
    width: 155px;
    height: 48px;
    background: transparent;
}

.align-all{
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    gap: 80px;
  }
  
  .align-section{
    display: flex;
    justify-content: center;
    gap: 48px;
  
  }
  
  .align-section2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
  }
  
  .align-contente{
    display: flex;
    justify-content: center;
  
  }